
// colors
$color-primary: aqua;
$color-primary-light: aquamarine;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;

$color-grey: #777;
$color-white: #fff;
$color-black: #333;

//font
$default-font: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
